<div id="carouselBasicExample" class="carousel slide" data-mdb-ride="carousel">
              <!-- Indicators -->
              <div class="carousel-indicators">
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2" aria-label="Slide 3"></button>
              </div>

              <!-- Inner -->
              <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active">
                  <img src="static/img/example1.png" class="d-block w-100" alt="portfolio example 1"/>
                  <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p>
                      Właśnie takie portfolio możesz stworzyć za pomocą Braggera!
                    </p>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <img src="static/img/example2.png" class="d-block w-100" alt="portfolio example 2"/>
                  <div class="carousel-caption d-none d-md-block">
                    <h5> </h5>
                    <p>
                      Fajne, nie?
                    </p>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <img src="static/img/example3.png" class="d-block w-100" alt="portfolio example 3"/>
                  <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p>
                      Własne kolory - wszystko, aby móc w pełni się wyrazić!
                    </p>
                  </div>
                </div>
              </div>
              <!-- Inner -->

              <!-- Controls -->
              <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
                <i class="fas fa-arrow-left"></i>
              </button>
              <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
                <i class="fas fa-arrow-right"></i>
              </button>
            </div>