            <footer class="text-center">
                <div>
                    Kontakt: hanna.raj@student.uj.edu.pl
                </div>
            <div class="text-center p-3">
            © 2024 Copyright: Hanna Raj
            </div>
            <div class="text-center p-3">

                                         Autorem Braggera jest Hania Raj. Serwis ten stanowi integralną część pracy magisterskiej
                        na kierunku elektroniczne przetwarzanie informacji na Wydziale Zarządzania i
                        Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
                        Praca przygotowana była pod kierunkiem prof. dra hab. Mariusza Flasińskiego.
            </div>

            <!-- Copyright -->
            </footer>