<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Stwórz swoje portfolio</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
            // Handle color theme selection
            $('input[name="colors"]').click(function () {
                if ($(this).val() === "custom") {
                    $(".Box").show('slow');
                } else {
                    $(".Box").hide('slow');
                }
            });

            // Handle menu elements visibility
            $('input[name="menuElements"]').click(function () {
                const selectedValue = $(this).val();
                $(".menuForm").hide('slow');
                $(".menuForm:lt(" + selectedValue + ")").show('slow');
            });

            // Trigger initial state
            $('input[name="colors"]:checked').trigger('click');
            $('input[name="menuElements"]:checked').trigger('click');

            // Handle language selection
            $('#language').change(function () {
                const selectedLang = $(this).val();
                $(".lang-content").hide();
                $(".lang-content[data-lang='" + selectedLang + "']").show();
            }).trigger('change');

            // Initialize CKEditor for textareas
            function initializeCKEditors() {
                ['description2', 'description3', 'description4', 'description2_en', 'description3_en', 'description4_en'].forEach(id => {
                    if (document.getElementById(id)) {
                        CKEDITOR.replace(id);
                    }
                });
            }

            $(document).ready(initializeCKEditors);

            // Handle file input change
            $('input[type="file"]').on('change', function(event) {
                const files = event.target.files;
                const fileList = $('#fileList');
                fileList.empty();  // Clear existing file list

                for (const file of files) {
                    const fileItem = $('<div>').addClass('file-item');
                    const fileName = $('<span>').addClass('file-name').text(file.name);
                    const inputField = $('<input>').attr({
                        type: 'text',
                        name: `file_labels[]`,  // Array notation for handling multiple file labels
                        placeholder: 'Wpisz własną etykietę',
                        class: 'ifta-field-small'
                    });

                    fileItem.append(fileName).append(inputField);
                    fileList.append(fileItem);
                }
            });

        });
    </script>
        {% include 'head.html' %}
    </head>
    <body>
       <div class="content_instructions">
           {% include 'header.html' %}
            <h2>Do dzieła!</h2>
            <p>Jeśli masz jakiekolwiek wątpliwości, udaj się do zakładki <a href="{{ url_for('instructions') }}">"Instrukcje"</a> po więcej informacji!</p>
            <form action="{{ url_for('dataForm') }}" method="post" enctype="multipart/form-data">

            <!--Name-->
            <div class="row">
                <details>
                    <summary><strong>Podaj nazwę swojej strony.</strong></summary>
                    <h5>To może być Twoje imię i nazwisko, pseudonim artystyczny, cokolwiek, co będzie Twoim znakiem rozpoznawczym.</h5>
                </details>
                <label class="small ifta-label" for="portfolioName">Nazwa</label>
                <input type="text" class='ifta-field inputMargin' name="portfolioName" id="portfolioName" required/>
            </div>

            <!--Colors-->
            <div class="row radioHidden">
                <details>
                    <summary><strong>Wybierz motyw kolorystyczny.</strong></summary>
                    <h5>Możesz wybrać zarówno jeden z naszych gotowych motywów lub wybrać własne kolory.</h5>
                </details>
                <div class="col-md">
                    <label>
                        <input type="radio" name="colors" id="light" value="light" checked/>
                        <img class='img-fluid img-margin' src="static/img/light.png">
                    </label>
                </div>
                <div class="col-md">
                    <label>
                        <input type="radio" name="colors" id="dark" value="dark"/>
                        <img class='img-fluid img-margin' src="static/img/dark.png" >
                    </label>
                </div>
            </div>
            <div class="row">
                <label class="radioInput">
                    <input type="radio" name="colors" id="custom" value="custom"/>
                    <div class="wlasne">Własne</div>
                </label>
                <div class="Box" style="display:none">
                    <div>
                    <label>Tło</label>
                        <input type="color" name="background" id="background" value="#865555">
                        <label>Tekst</label>
                        <input type="color" name="font" id="font" value="#ECE2E2">
                    </div>
                    <div style="margin-left: 5%;">
                        <label for="background_img">Obraz w tle (opcjonalnie)</label>
                        <input type="file" id="background_img" name="background_img">

                        <label class="radio-label"><input type="radio" name="background_display" id="cover" value="cover">
                            Obraz tła będzie pokrywał cały element, bez rozciągania (obraz zachowa swoje oryginalne proporcje).
                            </label>
                        <label class="radio-label"><input type="radio" name="background_display" id="repeat" value="repeat">
                            Jeśli obraz tła jest mniejszy od wyświetlacza, obraz będzie się powtarzał w poziomie i w pionie.
                            </label>
                        <label class="radio-label"><input type="radio" name="background_display" id="stretch" value="stretch">
                            Obraz tła rozciągnie się aby pokryć całe tło.
                            </label>
                    </div>
                </div>

            </div>

            <!--Grid style-->
            <div class="row radioHidden">
                <details>
                    <summary><strong>Wybierz układ.</strong></summary>
                    <h5>Obrazy będą wyświetlane w siatce (tzw. grid) w jednym z wybranych układów.</h5>
                </details>
                <div class="col-md">
                    <label>
                        <input type="radio" name="grid" id="3x2" value="3x2"/>
                        <img class='img-fluid img-margin' src="static/img/grid3x2.png">
                    </label>
                </div>
                <div class="col-md">
                    <label>
                        <input type="radio" name="grid" id="4x3" value="4x3"/>
                        <img class='img-fluid img-margin' src="static/img/grid4x3.png">
                    </label>
                </div>

            </div>


            <!--Grid style squared-->
            <div class="row radioHidden">
                <details>
                    <summary><strong>Wybierz układ.</strong></summary>
                    <h5>Obrazy będą wyświetlane w siatce w oryginalnych proporcjach lub przycięte do kwadratu aby uzyskać efekt regularnej siatki.</h5>
                </details>
                <div class="col-md">
                    <label>
                        <input type="radio" name="imgCrop" id="normal" value="normal"/>
                        <img class='img-fluid img-margin' src="static/img/grid_normal.png">
                    </label>
                </div>
                <div class="col-md">
                    <label>
                        <input type="radio" name="imgCrop" id="squared" value="squared"/>
                        <img class='img-fluid img-margin' src="static/img/grid_squared.png">
                    </label>
                </div>

            </div>

            <!--Language-->
            <div class="row radioHidden">
                <details>
                    <summary><strong>Wybierz wersję językową.</strong></summary>
                    <h5>Możesz wybrać dwa języki, w których stworzysz treści. U góry w nawigacji dostępna będzie zmiana wersji językowej.</h5>
                </details>
                <div class="col-md">
                    <div class="select-container">
                        <select class='ifta-field-small inputMargin' id="language" name="language" required>
                            <option id="pl" value="pl">Polski</option>
                            <option id="en" value="en">Angielski</option>
                            <option id="de" value="de">Niemiecki</option>
                            <option id="fr" value="fr">Francuski</option>
                            <option id="es" value="es">Hiszpański</option>
                        </select>

                        <select class='ifta-field-small inputMargin' id="secondLanguage" name="secondLanguage" style="display:none;">
                            <option id="pl2" value="pl">Polski</option>
                            <option id="en2" value="en">Angielski</option>
                            <option id="de2" value="de">Niemiecki</option>
                            <option id="fr2" value="fr">Francuski</option>
                            <option id="es2" value="es">Hiszpański</option>
                        </select>
                        <button type="button" id="removeLanguageBtn" class="close-btn" style="display:none;">&times;</button>
                        <button type="button" id="addLanguageBtn" class="button lang">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!--Menu elements-->
            <div class="row">
                <details>
                    <summary><strong>Wybierz elementy menu</strong></summary>
                    <h5>Maksymalnie możesz wybrać 4 elementy menu, czyli cztery podstrony, których treść będziesz uzupełniać w dalszych krokach.
                        Dlaczego akurat cztery? Im bardziej minimalistyczna strona, tym przejrzyściej wygląda i lepiej się prezentuje!
                        Spróbuj zmieścić swoje treści w tych czterech podstronach.</h5>
                </details>
                <p>Z ilu elementów ma się składać menu?</p>
                <div>
                    <label class="radio-label"><input type="radio" name="menuElements" id="1" value="1" checked="checked">
                        1</label><br>
                    <label class="radio-label"><input type="radio" name="menuElements" id="2" value="2">
                        2</label><br>
                    <label class="radio-label"><input type="radio" name="menuElements" id="3" value="3">
                        3</label><br>
                    <label class="radio-label"><input type="radio" name="menuElements" id="4" value="4">
                        4</label>
                </div>
                <div class="row firstPage menuForm"  style="display:none">
                    <div class="subpages">
                        <h4 style="width:100%;"><strong>Pierwsza podstrona</strong></h4>
                        <label class="small ifta-label" for="menuItem1">Nazwa podstrony (główny język)</label>
                        <input type="text" class='ifta-field' name="menuItem1" id="menuItem1" value="Galeria"/>
                        <label class="small ifta-label" for="menuItem1_l2">Nazwa podstrony (drugi język)</label>
                        <input type="text" class='ifta-field sec-lang-hide' name="menuItem1_l2" id="menuItem1_l2" value="Gallery" style="display:none;"/>
                        <p>Tu nie wpisujesz swojej treści. Na tej podstronie wyświetlać się będą Twoje prace.</p>
                    </div>
                </div>
                <div class="row secondPage menuForm"  style="display:none">
                    <div class="subpages">
                        <h4 style="width:100%;"><strong>Druga podstrona</strong></h4>
                        <label class="small ifta-label" for="menuItem2">Nazwa podstrony (główny język)</label>
                        <input type="text" class='ifta-field' name="menuItem2" id="menuItem2" value="O mnie"/>
                        <textarea name="description2" id="menuItem2desc" class="bigInput">
                        {% include 'bigInput.html' %}
                        </textarea>
                        <br>
                        <label class="small ifta-label" for="menuItem2_l2">Nazwa podstrony (drugi język)</label>
                        <input type="text" class='ifta-field sec-lang-hide' name="menuItem2_l2" id="menuItem2_l2" value="About"/>
                        <textarea name="description2_l2" id="menuItem2desc_l2" class="bigInput sec-lang-hide">
                        {% include 'bigInput.html' %}
                        </textarea>

                    </div>
                </div>
                    <div class="row thirdPage menuForm"  style="display:none">
                        <div class="subpages">
                            <h4 style="width:100%;"><strong>Trzecia podstrona</strong></h4>
                            <label class="small ifta-label" for="menuItem3">Nazwa podstrony (główny język)</label>
                            <input type="text" class='ifta-field' name="menuItem3" id="menuItem3" value="Kontakt"/>
                            <textarea name="description3" id="menuItem3desc" class="bigInput">Kontakt
                            </textarea>
                            <br>
                            <label class="small ifta-label" for="menuItem3_l2">Nazwa podstrony (drugi język)</label>
                            <input type="text" class='ifta-field sec-lang-hide' name="menuItem3_l2" id="menuItem3_l2" value="Contact"/>
                            <textarea name="description3_l2" id="menuItem3desc_l2" class="bigInput sec-lang-hide">Contact info
                            </textarea>

                        </div>
                    </div>
                    <div class="row fourthPage menuForm"  style="display:none">
                        <div class="subpages">
                            <h4 style="width:100%;"><strong>Czwarta podstrona</strong></h4>
                            <label class="small ifta-label" for="menuItem4">Nazwa podstrony (główny język)</label>
                            <input type="text" class='ifta-field' name="menuItem4" id="menuItem4" value="..."/>
                            <textarea name="description4" id="menuItem4desc" class="bigInput">...
                            </textarea>
                            <br>
                            <label class="small ifta-label" for="menuItem4_l2">Nazwa podstrony (drugi język)</label>
                            <input type="text" class='ifta-field sec-lang-hide' name="menuItem4_l2" id="menuItem4_l2" value="..."/>
                            <textarea name="description4_l2" id="menuItem4desc_l2" class="bigInput sec-lang-hide">...
                            </textarea>
                        </div>
                    </div>
                </div>

            <div class="row">
                <details>
                    <summary><strong>Wrzuć swoje obrazy i nadaj im tytuły.</strong></summary>
                    <h5>Pamiętaj, że im więcej prac, tym lepiej Twoja strona będzie wyglądała.
                        Wybierz minimum sześć prac dla gridu z trzema kolumnami
                        i minimum osiem dla gridu z czterema kolumnami!
                        Weź też pod uwagę to, ile plików chcesz zawrzeć w portfolio,
                    a ile kolumn wybrałeś. Nadaj obrazom tytuły, które będą wyświetlać się na stronie po najechaniu na obraz. Jeśli nie wprowadzisz żadnej etykiety, wyświetlany tytuł dla tego obrazu to "Bez tytułu".<br>
                    </h5>
                </details>
                <input class='fileButton' type="file" name="image" accept="image/*" multiple required>
                <div id="fileList" class="file-list"></div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Generuj!</button>
            </div>
            </form>

            </div>
           {% include 'footer.html' %}
            {% include 'scripts.html' %}
       <script src="static/js/ckeditor/ckeditor.js"></script>
       <script src="static/js/second_language_handler.js"></script>
    </body>
</html>