<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="static/css/mdb.min.css" />
    <title>{{ portfolioName }}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
{% include 'styles.css' %}
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            {% include 'headerTemplate.html' %}
            <hr>
        </div>
        <div class="row"><div class="preview"><p>To jest podgląd.</p><a href="{{ url_for('form') }}"><button class="button">Chcę coś jeszcze zmienić!</button></a><a href="{{ url_for('end') }}"><button class="button">Pobierz paczkę</button></a><a href="{{ url_for('delete') }}"><button class="button">Zabierz mnie do instrukcji</button></a></div></div>
        <div class="imgrid">
        <div class="imgRow">
            <div class="imgColumn">
                {% set colQty = namespace(value=0) %}
                {% set elements = namespace(value=0) %}
                {% set iterator = namespace(value=1) %}

                {% for filename, name in filenamesNames: %}
                <div class="img-overlay-container">
                    <img class='img-fluid' src="{{ imageFolder +  '/' + filename }}">
                    <div class="overlay" onclick="openModal();currentSlide({{ iterator.value }})">

                    </div>
                    <div class="text">{{ name }}</div>
                </div>
                {% set elements.value = elements.value +1 %}
                {% set iterator.value = iterator.value +1 %}
                {% if elements.value < imageInAColumn: %}
                {% else: %}
                    {% set elements.value = 0 %}
                    {% set colQty.value = colQty.value +1 %}
                    {% if colQty.value >= columns+1: %}
                    {% else: %}
                        </div>
                        <div class="imgColumn">
                    {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
    </div>

    <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            {% for filename, name in filenamesNames2: %}
                <div class="mySlides">
                  <img class="mySlidesImg" src="{{ imageFolder +  '/' + filename }}" >
                </div>
            <div class="caption-container">
              <p id="caption">{{ name }}</p>
            </div>
            {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>


      </div>
    </div>

<script>
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var captions = document.getElementsByClassName("caption-container");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
      captions[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  captions[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
{% include 'scripts.html' %}
</body>
</html>