<!DOCTYPE html>
<html lang="{{ secondLanguage }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="static/css/mdb.min.css" />
    <title>{{ portfolioName }}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
        {% include 'styles.css' %}
    </style>
</head>
{% if background_img %}
<body style="background:url({{ imageFolder +  '/background.png' }});">
{% else %}
<body>
{% endif %}
    <div class="container">
        <div class="row">
            {% include 'headerTemplate_l2.html' %}
            <hr>
        </div>
        <div class="row">
            <div class="preview">
                <p>To jest podgląd.</p>
                <a href="{{ url_for('form') }}"><button class="button">Chcę coś jeszcze zmienić!</button></a>
                <a href="{{ url_for('end', type='zip') }}"><button class="button">Pobierz paczkę</button></a>
                <a href="{{ url_for('delete') }}"><button class="button">Zabierz mnie do instrukcji</button></a>
                <div id="popup" class="popup">
                    <div class="popup-content">
                        <details>
                            <summary>Eksport do PDF</summary>
                            <p>Oto instrukcja eksportu strony do PDF:</p>
                            <ol>
                                <ul>Po kliknięciu przycisku "Eksport do PDF", w nowej karcie otworzy się ta sama strona bez panelu informacyjnego.</ul>
                                <ul>Kliknij prawym przyciskiem myszy na ekran.</ul>
                                <ul>W oknie dialogowym wybierz "Zapisz jako PDF".</ul>
                                <a href="{{ url_for('pdf_preview') }}"><button class="button">Pobierz PDF</button></a>
                            </ol>
                        </details>

                    </div>
                </div>
            </div>

        </div>

        <div class="imgrid">
            <div class="imgRow">
                <div class="imgColumn">
                    {% set colQty = namespace(value=0) %}
                    {% set elements = namespace(value=0) %}
                    {% set iterator = namespace(value=1) %}

                    {% for file in files %}
                    <div class="img-overlay-container">
                        <img class='img-fluid' src="{{ imageFolder +  '/' + file.file_path }}">
                        <div class="overlay" onclick="openModal();currentSlide({{ iterator.value }})"></div>
                        <div class="text">{{ file.label }}</div>
                    </div>
                    {% set elements.value = elements.value +1 %}
                    {% set iterator.value = iterator.value +1 %}
                    {% if elements.value < imageInAColumn %}
                    {% else %}
                        {% set elements.value = 0 %}
                        {% set colQty.value = colQty.value +1 %}
                        {% if colQty.value >= columns+1 %}
                        {% else %}
                            </div>
                            <div class="imgColumn">
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            {% for file in files %}
                <div class="mySlides">
                    <img class="mySlidesImg" src="{{ imageFolder +  '/' + file.file_path }}" alt="{{ file.label }}">
                </div>

            <div class="caption-container">
                <p id="caption">{{ file.label }}</p>
            </div>
            {% endfor %}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>


<script>
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex-1].style.display = "block";
  captionText.innerHTML = slides[slideIndex-1].getElementsByTagName("img")[0].alt;
}
</script>
{% include 'scripts.html' %}

<script src="static/js/popup.js"></script>
</body>
</html>
