<!DOCTYPE html>
<html lang="{{ secondLanguage }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="static/css/mdb.min.css" />
    <title>{{ menuItems_l2[2] }}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
        {% include 'styles.css' %}
    </style>
</head>
{% if background_img %}
<body style="background:url({{ imageFolder +  '/background.png' }});">
{% else %}
<body>
{% endif %}
   <div class="container">
        <div class="row">
            {% include 'headerTemplate_l2.html' %}
            <hr>
        </div>
       <div class="row">
           <div class="col-md-2"></div>
           <div class="col-md-8">
           {{ siteContent_l2[1]|safe }}
           </div>
           <div class="col-md-2">
           </div>
       </div>
   </div>
{% include 'scripts.html' %}
</body>
</html>